*{
    font-family: 'Montserrat';
    color: #ffffff;
    scroll-behavior: smooth;
}

*::selection{
    background: rgb(123, 143, 161);
    color: white;
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

svg{
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: -2;
    height: 20vh;
    width: 60vw;
    min-height: 200px;
}

@media (width < 1000px){
    svg{
        min-height: 100px;
        bottom: 5%;
    }
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
}

.all{
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    z-index: 100;
}

.all *{
    margin: 10px;
}

.all h1{
    font-size: 45px;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    font-style: none;
    color: white;
}

.all a{
    text-decoration: none;
}

@media(width < 500px){
    .all{
        margin-right: 30px;
    }
}

.box{
    height: 100vh;
    transition: all 1s ease-in-out;
}

.me{
    float: left;
    margin: 5%;
    display: inline-flex;
    width: 100%;
    height: auto;
    flex-basis: 20%;
}


.me *{
    margin: 10px;
}

.me img{
    width: 350px;
    border-radius: 25%;
    transition: transform 0.3s ease-in-out;
    height: auto;
    margin-right: 100px;
}

.me img:hover{
    transform: scale(1.1);
}

.about{
    display: grid;
    justify-content: space-around;
    margin-left: 30px;
    margin: 15px;
    margin-top: 30px;
    float: right;
    font-size: 30px;
    font-style: italic;
}

.about h2{
    transition: 0.4s ease-in-out;
    font-weight: 400;
}

.about h2:hover, .all h1:hover{
    letter-spacing: 3px;
    cursor: pointer;
}

.about a{
    text-decoration: none;
}


nav, .navlinks{
    display: none;
}



nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}


.navlinks{
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    font-weight: bold;
}

.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navlinks ul li::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    justify-content: center;
    align-items: center;
    background: rgb(250, 214, 165);
    margin: auto;
    border-radius: 1.5px;
    transition: 0.35s;
}

.navlinks ul li:hover::after{
    width: 100%;
}


nav .fa{
    display: none;
}


@keyframes menuopen{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes menuclose{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

.navlinks ul li{
    display: block;
}
.navlinks{
    display: none;
    position: absolute;
    background-color: rgb(86, 113, 137);
    color: #fff;
    height: 100vh;
    width: 220px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}
.navlinks ul{
    padding: 30px;
}







.x{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    border: none;
    display: flex;
    margin: 30px;
    margin-bottom: 50px;
    background-color: transparent;
    padding: 15px;
    padding-bottom: 6rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.more p{
    max-width: 55%;
    margin-right: 10px;
    font-size: 35px;
    margin: auto;
    border: none;
    color: white;
}


.more img{
    width: 20%;
    border-radius: 10px;
    height: auto;
    margin: auto;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.more img:hover{
    transform: scale(1.2);
    overflow: hidden;
}

@media (width < 1100px){
    .more img:hover{
        transform: scale(1);
    }
}

.more a{
    text-decoration: none;
}

.more button:not(.buttons button){
    background-color: transparent;
    border-radius: 30px;
    font-size: 30px;
    display: block;
    border: 1px solid white;
    width: max-content;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.buttons{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.buttons button{
    background-color: transparent;
    border-radius: 30px;
    font-size: 30px;
    display: block;
    border: 1px solid white;
    width: max-content;
    padding: 1rem;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.more button,
.more button::after,
form button,
form button::after {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.more button::before,
.more button::after,
form button::before,
form button::after {
  background: white;
  content: '';
  position: absolute;
  z-index: -1;
}

.more button:hover, form button:hover {
  color: rgb(86, 113, 137);
  cursor: pointer;
}


.more button, form button {
    overflow: hidden;
}
  
.more button::after, form button::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
  
.more button:hover:after,
form button:hover:after {
    height: 100%;
    width: 135%;
}

#more .more{
    display: flex;
    flex-direction: column;
}

#more .more div{
    position: relative;
    padding: 6rem;
}

#more .more div img{
    position: absolute;
    right: 0;
    top: 40%;
}

#more .more div:last-child img{
    position: absolute;
    left: -80%;
    top: 40%;
}

@media (width < 1100px){

    .me{
        margin-bottom: 100px;
    }


    .x{
        width: 100vw;
    }

    #student{
        padding-top: 100px;
    }

    .more{
        width: 100%;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 8rem;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .more img{
        max-width: 90%;
        width: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .more p{
        font-size: 28px;
        margin: 0;
        margin-left: 5px;
        max-width: 90%;
    }

    .more button{
        font-size: 28px;
        width: 80vw;
        margin: auto;
    }

    .buttons{
        flex-direction: column;
    }

    #developer .more{
        padding-bottom: 16rem;
    }

    .buttons button:last-child{
        margin-top: 15px;
    }

    #more .more div{
        width: 90%;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    #more .more div img{
        display: none;
    }
}


form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    width: 50%;
    position: relative;
    padding-bottom: 6rem;
}

form input{
    height: 2rem;
    width: 90%;
    border-radius: 5px;
    text-align: left;
    padding: 0.5rem;
    color: black;
    font-size: 15px;
}

form textarea{
    border-radius: 5px;
    padding: 0.5rem;
    text-align: left;
    color: black;
    font-size: 15px;
}

form button{
    background-color: transparent;
    border-radius: 30px;
    font-size: 25px;
    display: block;
    border: 1px solid white;
    width: max-content;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}


@media (width < 1100px){
    form{
        width: 90%;
    }

    form button{
        font-size: 28px;
    }
}

/*Animations*/

.fade-in{
    opacity: 0;
    filter: blur(5px);
    transition: all 0.7s ease-in-out;
}

.fade-in.appear{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.from-left{
    transform: translateX(-50%);
}

.from-right{
    transform: translateX(50%);
}

/*.from-left, .from-right{
    transition: transform 1s ease-in-out;
}*/



.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    min-width: 300px;
    max-width: 350px;
    margin-right: 10px;
    min-height: 200px;
    height: auto;
    overflow: hidden;
}
  
.gallery:hover {
    border: 1px solid #777;
}

.gallery:hover img{
    transform: scale(1.2);
    overflow: hidden;
}
  
.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.imgBox{
    overflow: hidden;
}
  
.desc {
    padding: 15px;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.langchng{
    padding: 7px;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin: 25px;
    margin-top: 0;
    display: flex;
    position: absolute;
    top: 20px;
    right: 30px;
    transition: 0.4s ease-in-out;
}

.langchng *{
    margin: 5px;
}

@media (width < 500px){
    .langchng{
        font-size: 15px;
        top: 15px;
        right: 0;
    }

}

.langchng:hover{
    cursor: pointer;
    color: #777;
}

.gall{
    width: 100%;
    display: block;
    margin: auto;
    margin-right: 5px;
}

@media (width > 1100px){
    .gall{
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 800px){
    .me{
        display: flex;
        flex-direction: column;
    }

    .me img{
        margin-left: 15%;
        border-radius: 40%;
        width: 60vw;
        max-width: 300px;
    }

}



footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    float: left;
}

footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

footer p{
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 15px;
    color: #ffffff;
}

.media .fa, .fa-solid{
    color: #ffffff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}